conda {
    enabled = true
    condaExe = "$HOME/miniconda3/bin/conda"
    cacheDir = "$HOME/nextflow_conda_cache" // cria um ambiente conda com as dependências no computador de quem está rodando o nextflow
}

// habilitando o ambiente conda para todos os processos
process {
    conda = "${projectDir}/environment.yaml"
}

env {
    PYTHONPATH = "${projectDir}/.."
}

params { 
    genome_fasta = "${projectDir}/../examples/sample_genome.fna";
    lysozyme_fasta = "${projectDir}/../examples/lysozymes.fasta";
    
    makeblastdb_path = "makeblastdb";
    tblastn_path = "tblastn";
    ssearch_path = "ssearch36";

    output_folder = "${projectDir}/output";
    output_blast = "${params.output_folder}/blast"; 
    output_ssearch = "${params.output_folder}/ssearch";
    output_merge = "${params.output_folder}/merge";
    output_final_dir = "${params.output_folder}/final";
}
